<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Gram</title>
</head>
<body>
    <h2>Welcome to Webpage</h2>
    <li><a href = '/'>Home</li></a>
    <li>Contact Us</li>
    <li>Login</li>
    <li>SignUp</li>
    <form>
        <label for="name">Full name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="desc">Description:</label><br>
        <input type="text" id="desc" name="desc"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>